@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  background: url(img/backround.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
}

.player-container {
  width: 980px;
  background-color: #0c1013;
  color: #d3cbd8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  height: 200px;
  width: 200px;
  margin-top: 40px;
}
.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 48px;
  text-align: center;
  margin-top: 40px;
  color: #fff;
  letter-spacing: 2px;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  color: #5b5861;
  margin-top: 8px;
  letter-spacing: 1px;
}

/* Progress */
.progress-container {
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 6px;
  width: 90%;
  background: #5b5861;
}

.progress {
  background-image: linear-gradient(to right, #5437a1, #de3975);
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #5b5861;
}

/* Controls */
.player-controls {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.fa-solid {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-out;
  margin: 0 24px;
}

.fa-solid:hover {
  color: #de3975;
}

.main-button {
  font-size: 56px;
  color: #fff;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
